#header
{
    width: 100%;
    height: 85px;
    background-color: blue;
    display: block;
}

#header img
{
    max-height: 100%;
}

#header .left, #navigation, #header .right
{
    height: 100%;
}

#header .left
{
    float: left;
}

#header #navigation
{
    width: 50%;
    margin: 0px auto;
}

#header #navigation .menu
{
    margin: 15px 0px;
}

#header #navigation .item
{
    width: 20%;
    float: left;
    text-align: center;
}

#header .right
{
    float: right;
}

#content
{
    display: block;
    width: 90%;
    margin: 0px auto;
    background-color: gray;
}
