body
{
   margin: 0px;
   background-color: #3882cd;
}

#header
{
   width: 100%;
   position: fixed;
}

#header, #header img
{
   height: 120px;
}

#header .wrapper
{
   border-collapse: collapse;
}

#header .logo
{
   padding: 0px;
}

#header .left
{
   float: left;
}

#header .right
{
   float: right;
}
