html
{
	 height: 100%; /* relates to .page's min-height property */
}

body
{
	margin: 15px 0px;
	padding: 0px;
	background: url('../images/mainBackground.jpg') repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	height: 90%;
}

#page
{
	font-size: 14pt;
	background-color: rgba(255, 255, 255, 0.0);
	width: 70%;
	min-height: 100%; /* the height of the webpage is a minimum of 80% the height of the browser window */
	min-width: 720px;
	margin: 0px auto;
}

#header
{
	font-family: 'carme', sans-serif;
	background-color: #1f222e;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f222e), to(#2b5178));
	background: -webkit-linear-gradient(top, #1f222e, #2b5178) no-repeat;
	background: -moz-linear-gradient(top, #1f222e, #2b5178) no-repeat;
	background: -o-linear-gradient(top, #1f222e, #2b5178) no-repeat;
	background: -ms-linear-gradient(top, #1f222e, #2b5178) no-repeat;
	background: linear-gradient(top, #1f222e, #2b5178) no-repeat;
	-moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
	height: 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

#headerOffset, #nav
{
	float: right;
	right: 50%;
	position: relative;
}

#header #access
{
	display: none;
}

#nav
{
	right: -50%;
	padding-left: 0px;
	margin: 0px;
}

#nav > li
{
	display: inline-block;
	padding: 0px 30px;
	font-size: 18px;
	font-weight: bold;
}

#nav li
{
	line-height: 50px;
	color: white;
}

#nav .item a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

#nav .item .border
{
	border-right: 2px dotted green;
	position: static;
	top: 25%;
	right: 0px;
	height: 50%;

	display: none; /* until I can get this working... */
}


#nav .item:last-child
{
	border-right: none;
}

#nav .item:first-child:hover
{
	color: #8c8cff;
}

#nav .item:nth-child(2):hover
{
	color: #ff6767;
}

#nav .item:nth-child(3):hover
{
	color: #9aff8c;
}

#nav .item:nth-child(4):hover
{
	color: #ffa13c;
}

#nav .item:nth-child(5):hover
{
	color: #3cfff7;
}

#nav .item ul
{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	z-index: 10;
	padding-left: 0px;
	list-style-type: none;
}

#nav .item li
{
	background: blue;
	width: auto;
	position: relative;
	z-index: 5;
	float: left;
	text-align: center;
}

#nav .item ul a
{
	white-space: nowrap;
}

#nav .hidden ul
{
	display: none;
}

#nav .hidden:hover ul
{
	display: block;
}

#nav .shown ul
{
	z-index: 5;
}

#nav .item li a
{
	display: inline;
  text-align: center;
}

#content
{
	background: url('../images/content-bg.png') repeat-x, url('../images/white.jpg') repeat;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

#content .title
{
	color: blue;
	text-align: center;
	font-family: "Arial", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24pt;
	width: 80%;
	margin: 0px auto;
	padding: 70px 0px 20px;
	border-bottom: 2px dotted gray;
}

#content .text
{
	font-family: "Times New Roman";
	margin: 20px 40px 0px;
	padding-bottom: 10px;
}

.footer
{
	min-height: 5%;
	max-height: 30px;
}

.fixed-footer
{
	position: fixed;
	bottom: 0px;
	left: 3px;
	width: 100%;
}

.fixed-footer .sharing .social
{
	float: left;
	margin-right: 15px;
}

.fixed-footer .feedback
{
	margin-right: 3px;
	float: right;

	display: none; /* until it actually does something */
}