#content .sideBar
{
   width: 350px;
   display: block;
   float: right;
   margin-bottom: 10px;
   margin-left: 10px;
   padding: 5px;
   border-radius: 10px;
   /*background: url('../images/content-bg.png') repeat-x, url('../images/white.jpg') repeat;*/
   background-color: #ADD8E6;
   text-align: center;
}

#content .sideBar img
{
   width: 100%;
}

#content .mainBody
{
   height: 2700px;
   text-indent: 20px;
}

#content .mainBody p
{
   margin: 12px 0px;
}

#content #title
{
   margin-right: 470px;
}

#content #synopsis
{
   margin: 25px 20px;
   margin-right: 0px;
}

#content #synopsis .title
{
   font-weight: bold;
   font-style: italic;
}

#content #synopsis ul
{
   margin-top: 5px;
}

#content #transcriptTitle
{
   text-align: center;
   font-weight: bold;
   font-style: italic;
   font-size: 1.5em;
   padding-top: 20px;
}

#content #transcript
{
   padding-left: 10px;
   font-size: 0.85em;
}

#content #transcript .title
{
   font-weight: bold;
   padding-top: 15px;
}

#content #transcript table
{
   width: 475px;
   padding: 5px;
   border: 1px dotted rgb(128, 128, 128);
   border-radius: 10px;
   margin: 5px;
   margin-left: 45px;
}

#content #transcript table td
{
   text-align: center;
}
