.content .title
{
	padding-bottom: 10px;
}

.navSubtitle
{
	display: block;
	width: 70%;
	height: 35px;
	margin: 0px auto;
	margin-top: 10px;
	font-size: 12pt;
	color: black;
}

.anchorNav
{
	border: 2px solid #FFCC00;
	color: #000000;
	text-decoration: none;
	-webkit-border-radius: 15px; /* for Safari and Chrome */
	-moz-border-radius: 15px; /* for Firefox */
	-o-border-radius: 15px; /* when Opera Presto 2.3 or later is released */
	border-radius: 15px; /* future proofing for when border-radius is supported */
	padding: 4px 15px;
}

.navSubtitle .anchorNav:first-child
{
	float: left;
}

.navSubtitle .anchorNav:last-child
{
	float: right;
}

iframe
{
	display: inline-block;
	float: right;
	margin: 10px 0px 10px 10px;
}