#content .title
{
	color: blue;
	text-align: center;
	font-family: "Arial", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24pt;
	width: 80%;
	margin: 0px auto;
	padding-bottom: 20px;
	border-bottom: 2px dotted gray;
}
