#content p
{
	margin: 10px;
	text-indent: 30px;
}

.houseImgs
{
	display: block;
	width: 100%;
	margin-left: 5px;
}

.houseImgs .lawnFromCreek, .houseAndCreek
{
	max-width: 49%;
	display: inline-block;

}

.houseImgs .lawnFromCreek
{
	float: left;
	margin-right: 5px;
}

.houseImgs img
{
	width: 100%;
}

.houseImgs .caption
{
	width: 95%;
	text-align: center;
	margin: 0px auto;
	font-size: 12pt;
	font-style: italic;
}

.familyPhoto
{
	width: 90%;
	margin: 0px auto;
	display: block;
}

.familyPhoto img, .familyPhoto .caption
{
	display: inline-block;
}

.familyPhoto img
{
	width: 60%;
}

.familyPhoto .caption
{
	width: 39%;
	float: right;
	margin-top: 16%;
}

.youtube
{
	width: 480px;
	height: 270px;
	margin: 0px auto;
	display: block;
}