#content p
{
	margin: 10px;
	text-indent: 30px;
}

.codeSamples
{
	width: 90%;
	display: block;
	margin: 0px auto;
	font-size: 12pt;
}

.codeSamples .goodCode, .badCode
{
	width: 49%;
	display: inline-block;
}

.codeSamples .badCode
{
	float: left;
}

.codeSamples .indent1
{
	margin-left: 25px;
}

.codeSamples .indent2
{
	margin-left: 50px;
}

.caption
{
	text-align: center;
}

.xkcd
{
	max-width: 90%;
	margin: 30px auto;
	display: block;
}