#content a:link
{
	text-decoration: none;
	color: blue;
}

#content a:visited
{
	text-decoration: none;
}

#content a:hover
{
	text-decoration: underline;
	background-color: #ddd;
}

#content a:active
{
	text-decoration: underline;
} 

.wiki-logo img
{
	display: block;
	margin: 0px auto;
}

.wiki-logo
{
	float: right;
	margin-left: 10px;
	font-size: 12pt;
	font-style: italic;
	text-align: center;
	color: black;
}